*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    color: #ededed;
    background:black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color:cyan;

}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(images/first.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sc1 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin:30px 15px 30px 0;

}
.home-sc1 a:hover{
    background:white;
    color: #081b08;
    box-shadow: 0 0 20px #0ef;

}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color:#081b08;
    letter-spacing: 1px;
    font-weight: 600;

}
.btn-box:hover{
    box-shadow: 0 0 5px white,
    0 0 25px white,0 0 50px white,
    0 0 100px white,0 0 200px white;
    
}


.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    padding-bottom: 30%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2{
    font-size: 60px;
    margin-top:50px;
}
.about-text h2 span{
    color:#0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.about-text p span{
    color:cyan;
    font-size: 20px;
    text-decoration: solid;
}
.about-text .btn-box{
    margin-top: 20px;
    margin-bottom: 100px;

}


.sub-title{
    margin: 10px;
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
}
.sub-title span{
    color:#0ef;
    padding-bottom: 50%;
    text-decoration: underline;
}


section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 300px;
    padding: 90px 90px;
    margin-top: 30px;
    margin-bottom: 10px;
   
    
}

.bar{
    font-size:23px;
    padding: 22px;
    
}

.Technical-bars{
    display: flex;
    position: relative;
    
    
}

.main-text{
    margin-top: 200px;
    padding-top: 130px;
    
   

}
.main-text h2{
   margin-left: 55%;
    line-height: 1;
    text-align: center;
    
    font-size: 60px;
    text-decoration: underline;
}
.main-text span{
    
    color:#0ef;
    text-decoration: underline;
}

/*---------portfolio-------*/

#portfolio
{
    padding: 50px 0;
    
}
.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.work img
{
    width:100%;
    border-radius: 50px;
    display: block;
    padding: 20px;
    transition: transform 0.8s;
}
.layer
{
    width:100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(243, 158, 241));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.layer h3
{
    font-weight: 500;
    margin-bottom: 20px;


}
.layer a
{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}
.work:hover img
{
    transform: scale(1.1);
} 
.work:hover .layer
{
    height: 100%;

}
.btn
{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid rgb(234, 148, 234);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;

}

.btn:hover{
    background-color: cyan;
    box-shadow: 0 0 5px white,
    0 0 25px white,0 0 50px white,
    0 0 100px white,0 0 200px white;
    
}


/*----------contact---------*/
.contact-right form
{
    
    width: 40%;
    position: relative;
    margin-top:10px;
    padding: 10px;
    margin-left: 30%;
    
}
form input, form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.btn.btn2
{
    display: inline-block;
    background:white;
    color: black;
    text-decoration: solid;
    margin: 15px;
}
.btn.btn2:hover
{
    background: cyan;
}
.info
{
    flex-basis: 35%;
    margin-left: 32%;
}
.info p
{
    margin-top: 20px;
}
.info p i
{
    color:cyan;
    margin-right: 15px;
    font-size: 25px;
}




@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}














    
    
    
    


